server:
  port: 5000
  debug: true
  read_timeout_seconds: 10
  write_timeout_seconds: 5

params:
  short_url_length: 6
  expire_duration: 30 #days

database:
  driver: "postgres"
  address: "postgres://postgres:postgres@localhost:5432/ridwanakf-url-shortener?sslmode=disable"
  max_conns: 3000
  max_idle_conns: 1000

redis:
  address: "redis://127.0.0.1:6379"
  timeout:  300 #second
  max_idle: 3
  max_active: 50

